<div class="card mb-0">
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-warning">
                <th></th>
                <th>OrderId</th>
                <th>Customer</th>
                <th>Delivery Date</th>
                <th>Quantity</th>
                <th>Details</th>
            </thead>
            <tbody>
                <tr>
                    <td>Main Order</td>
                    <td>123456789012</td>
                    <td>ALDI UK</td>
                    <td>01.01.21 - 31.01.21</td>
                    <td>90.0000</td>
                    <td>abc</td>
                </tr>
                <tr>
                    <td></td>
                    <td>123456789012</td>
                    <td>ALDI UK</td>
                    <td>01.01.21 - 31.01.21</td>
                    <td>90.0000</td>
                    <td>abc</td>
                </tr>
                <tr>
                    <td></td>
                    <td>123456789012</td>
                    <td>ALDI UK</td>
                    <td>01.01.21 - 31.01.21</td>
                    <td>90.0000</td>
                    <td>abc</td>
                </tr>
            </tbody>
        </table>
        <a mat-button (click)="back()" class="btn btn-danger">Back</a>
        <div class="clearfix"></div>
    </div>
</div>
