<div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="splide__slide__container">
            <div class="slide__content slide__content1">                
              <div class="slide_text"></div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="splide__slide__container">
            <div class="slide__content slide__content2">
              <div class="slide_text"></div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="splide__slide__container">
            <div class="slide__content slide__content3">
              <div class="slide_text"></div>                
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>
